html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Departure";
  src: url("./DepartureMono-1.500/DepartureMono-Regular.woff2") format("woff2");
}

main {
  display: flex;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 1rem 0.25rem;
  font-size: larger;
}

@media (width <= 500px) {
  table {
    font-size: medium;
  }
  main {
    flex-wrap: wrap;
  }
}

th:nth-child(even), td:nth-child(even) {
  text-align: left;
}

th:nth-child(odd), td:nth-child(odd) {
  text-align: right;
}

.panel {
  display: flex;
  position: relative;
  overflow: auto;
}

#input, #output, #examples, #scoreboard, button, select, option, dialog {
  font-family: "Departure", Courier, monospace;
}

button.secret-button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  font-weight: normal;
  cursor: pointer;
}

#examples {
  background-color: rgba(255, 255, 255, 0.9);
}

#input, #output {
  padding: 0.5rem;
  margin: 0;
}

#input {
  resize: horizontal;
}

#output, #scoreboard {
  position: relative;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  border: 2px solid cornflowerblue;
  background-color: lightgoldenrodyellow;
  overflow: auto;
}

#github {
  align-self: center;
}

select {
  font-size: inherit;
  outline: none;
}

#controls, #examples {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  display: flex;
  column-gap: 0.5rem;
  width: calc(100% - 1rem);
  align-items: center;

  .spacer {
    flex-grow: 1;
  }

  button {
    font-size: large;
    cursor: pointer;
  }
}

dialog {
  max-height: 90vh;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}

details {
  margin: 1.25rem 0;
}

summary {
  cursor: pointer;
  font-size: x-large;
}

.progression {
  padding: 2rem;

  h4 {
    margin: 0;
  }

  li {
    white-space: pre;
  }
}
