html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Departure";
  src: url("./DepartureMono-1.500/DepartureMono-Regular.woff2") format("woff2");
}

main {
  display: flex;
  min-height: 100vh;
}

#input, #output, button, dialog {
  font-family: "Departure", Courier, monospace;
}

#input, #output {
  padding: 0.5rem;
  margin: 0;
}

#input {
  resize: horizontal;
}

#output {
  position: relative;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  border: 2px solid cornflowerblue;
  background-color: lightgoldenrodyellow;
  overflow: auto;
}

#controls, #examples {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  display: flex;
  align-items: baseline;
  column-gap: 0.5rem;
  width: calc(100% - 1rem);

  .spacer {
    flex-grow: 1;
  }

  button {
    font-size: large;
    cursor: pointer;
  }
}

dialog {
  max-height: 90vh;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}

details {
  margin: 1.25rem 0;
}

summary {
  cursor: pointer;
  font-size: x-large;
}
