html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Departure";
  src: url("./DepartureMono-1.500/DepartureMono-Regular.woff2") format("woff2");
}

main {
  display: flex;
  min-height: 100vh;
}

#input, #output, #controls button {
  font-family: "Departure", Courier, monospace;
}

#input, #output {
  padding: 0.5rem;
  margin: 0;
}

#input {
  resize: horizontal;
}

#output {
  position: relative;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  border: 2px solid cornflowerblue;
  background-color: lightgoldenrodyellow;
}

#controls {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  display: flex;
  column-gap: 0.5rem;

  button {
    font-size: large;
    cursor: pointer;
  }
}
